@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.animatetext {
  background-image: linear-gradient(
    -225deg,
    #ff6922 0%,
    #ef9414 29%,
    #11b3d7 67%,
    #00aaff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textanim 2s linear infinite;
  display: inline-block;
  line-height: 62px;
}
@keyframes textanim {
  100% {
    background-position: 200% center;
  }
}

.arrow {
  animation: arrow 2s linear infinite;
}

@keyframes arrow {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-5px);
  }
}

.purchageButton {
  border: 1px solid #dfe5fe;
  padding: 10px 27px;
  margin-top: 14px;
  font-weight: 600;
  border-radius: 0 15px;
  transition: 0.7s;
  display: block;
  margin: 14px auto;
}

.purchageButton:hover {
  background: #ff6922;
  color: white;
}

.purchageButton2 {
  border: 1px solid #dfe5fe;
  padding: 10px 57px;
  margin-top: 14px;
  font-weight: 600;
  border-radius: 0 15px;
  transition: 0.7s;
  display: block;
  margin: 14px auto;
  background: #ff6922;
}

.purchageButton2:hover {
  background: #0fb2e8;
  color: white;
}

textarea:focus,
input:focus {
  outline: none;
}

.StripeElement {
  width: 100% !important;
}

body {
  overflow-x: hidden;
}

@media only screen and (max-width:768px) {
  .InputElement {
    font-size: 15px !important;
  }
}

.payment-amount-input {
  appearance: textfield;
  -moz-appearance: textfield;
}
.payment-amount-input::-webkit-inner-spin-button,
.payment-amount-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}